.serv-container {
    margin:100px auto;
    padding:0;
    width:500px;
    }    
/* #accordion li {
    list-style:none;
    width:100%;
    }     */
.serv-container label {
    padding:10px;
    display:block;
    font-family: 'Bree Serif', 'serif';
    font-size:30px;
    line-height:30px;
    color:#FFFFFF;
    background-color:#3498db;
    border-bottom: solid 8px #2980b9;
    }    
/* Hide the radio buttons */
.serv-container label + input[type='radio'] {
      display: none;
}    
/* hide content by default */
#serv-container-small .accordion-p {
    display:none;
}

/* Show content boxes when the radio buttons are checked */
#serv-container-small label + input[type='radio']:checked + .accordion-p {
    display:block;
}
